.contact__form{

}
.form__title{
  color: #fff;
  font-size: 24px;
  padding-top: 8px;
}
.form__input{
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #00599a;
  font-weight: 700;
  line-height: 32px;
  padding: 7px 15px 9px;
  border-radius: 8px;
  border: 3px solid #fff;
  outline: none;
  transition: border-color 0.3s ease-in;
  &:hover,&:active,&:focus{
    border: 3px solid #a2d1f4;
  }
  @media(min-width: 768px){
    padding: 10px 20px 12px;
  }
}
.form__input--w49{
  width: 49%;
  margin-right: 2%;
  float: left;
  &:last-of-type{
    margin-right: 0;
  }
}
.form__input--textarea__wrap{
  margin: 0;
  padding: 0;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    right: -70px;
    top: 100px;
    display: none;
    background-image: url("../img/images/Pencil.png");
    width: 203px;
    height: 153px;
    @media(min-width: 768px){
      display: block;
    }

  }
  .form__input--textarea{
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    padding: 7px 15px 9px;
    margin-bottom: 10px;
    color: #00599a;
    border-radius: 8px;
    border: 3px solid #fff;
   min-height: 128px;
    outline: none;
    resize: vertical;
    overflow: hidden;
    transition: border-color 0.3s ease-in;
    &:hover,&:active,&:focus{
      border: 3px solid #a2d1f4;
    }
    @media(min-width: 768px){
      padding: 10px 20px 12px;
    }
  }
}
.button__submit{
  width: 100%;
  background-color: transparent;
  border: 4px solid #fff;
  padding: 13px 47px 13px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  border-radius: 80px;
  outline: none;
  transition: all 0.3s ease-in;
  @media(min-width: 768px){
    width: auto;
  }
  &:hover,&focus{
    color: #065a97;
    background-color: #fff;
  }
  &:active{
    background-color: transparent;
    border: 4px solid #ffe400;
    color: #ffe400;
  }
}
label.error {
  background-color: #c62828;
  position: relative;
  display: block;
  border-radius: 8px;
  color: #fff;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;

  @cornerSize: 12px;

  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40px;

    margin-left: -@cornerSize;
    width: 0;
    height: 0;
    border-bottom: @cornerSize solid #a16178;
    border-right: @cornerSize solid transparent;
    border-left: @cornerSize solid transparent;

  }
}